// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Bootswatch Variables for your chosen theme
@import "node_modules/bootswatch/dist/darkly/variables";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap.scss";

// Bootswatch theme main CSS files
@import "node_modules/bootswatch/dist/darkly/bootswatch";

// Variables
@import "variables";

#main-content {
    padding-top: $paragraph-margin-bottom;
}

.section {
    margin-bottom: $paragraph-margin-bottom;
}

// Pagination
ul.pagination li {
    @extend .page-item;
}

ul.pagination li a,
ul.pagination li span {
    @extend .page-link;
}